keystore.properties
*.apk
*.jar
*.iml
*.lnk
*.class
device-*.png
ic_launcher*web.png
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
build/
/captures
.externalNativeBuild
/app/signing
app/src/main/res/raw/
app/release/
app/licenses.yml
.kotlin/

.idea/*
!.idea/icon.png
!gradle/wrapper/gradle-wrapper.jar
