<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2021 toastkidjp.
  ~ All rights reserved. This program and the accompanying materials
  ~ are made available under the terms of the Eclipse Public License v1.0
  ~ which accompany this distribution.
  ~ The Eclipse Public License is available at http://www.eclipse.org/legal/epl-v10.html.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.toastkid.media">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"
            android:minSdkVersion="34"
            />

    <application>
        <receiver android:name="androidx.media.session.MediaButtonReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <service
                android:name="jp.toastkid.media.music.MediaPlayerService"
                android:exported="false"
                android:foregroundServiceType="mediaPlayback"
                />
    </application>

</manifest>
