<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="jp.toastkid.yobidashi">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions"
        />

    <application
        android:name=".ExtendedApplication"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        >

        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="true"
            />

        <activity
            android:name=".main.MainActivity"
            android:label="${app_name}"
            android:theme="@style/AppTheme.Splash"
            android:configChanges="orientation|screenSize|locale"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity>

        <activity-alias
            android:name=".browser.BrowserActivity"
            android:targetActivity=".main.MainActivity"
            android:label="@string/title_open_url"
            android:enabled="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="jp.toastkid.yobidashi.search" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ASSIST"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="com.android.systemui.action_assist_icon"
                android:resource="@mipmap/ic_launcher"
                />
        </activity-alias>

        <activity
            android:name=".search.SearchActivity"
            android:label="@string/title_search"
            android:theme="@style/AppTheme.Translucent"
            android:configChanges="orientation|screenSize"
            >
            <intent-filter>
                <action android:name="android.intent.action.WEB_SEARCH" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_settings"
            android:theme="@style/AppTheme.Translucent"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation|screenSize"
            />
        <activity
            android:name=".barcode.BarcodeReaderActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            />
        <activity
            android:name=".search.favorite.FavoriteSearchActivity"
            android:theme="@style/AppTheme.Translucent"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            />
        <activity
            android:name=".search.history.SearchHistoryActivity"
            android:theme="@style/AppTheme.Translucent"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            />
        <activity
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            />
        <activity
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            />

        <service
            android:name=".search.favorite.AddingFavoriteSearchService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            >
            <intent-filter>
                <action android:name="ADD_ITEM" />
            </intent-filter>
        </service>

        <service android:name=".media.music.MediaPlayerService"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <receiver android:name="androidx.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <receiver android:name=".appwidget.search.Provider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider" />
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/cache_image_path" />
        </provider>
    </application>
</manifest>