<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="jp.toastkid.article_viewer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>
        <service
            android:name=".zip.ZipLoaderService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            />
    </application>
</manifest>